#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.note-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--text-400);
}
.note-header select option{
  padding: .5rem 0;
}
.note-app {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 2rem;
}
.note-form input {
  padding: 1rem;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 5px;
}
.add-new-note{
  width: 30%;
  margin-top: 3rem;
}
.note-container{
  width: 60%;
}
.btn--primary{
    padding: 1rem 1rem;
    border-radius: 5px;
    width: 100%;
}
.note-item {
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
}

.note-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.3rem;
  margin-bottom: 0.3rem;
  border-bottom: 1px solid var(--text-100);
}

.note-item.completed .title {
  text-decoration: line-through;
}

.note-item.completed {
  opacity: 80%;
}

.note-item__header .title {
  font-size: 1.1rem;
  color: var(--text-700);
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.note-item__header .description {
  color: var(--text-400);
  margin-bottom: 1rem;
  font-weight: 300;
}

.note-item__header .actions {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.note-item__footer {
  text-align: left;
  color: var(--text-300);
}
.note-status{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.note-status li{
  color: var(--text-400);
}
.note-status li span{
  background-color: var(--text-400);
  color: #fff;
  border-radius: 50%;
  padding: 2px 8px;
  margin-left: 8px;
}
.btn--secondary{
  background-color: red;
  color: #fff;
  padding: .5rem;
  border-radius: 5px;
}
